[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/neocomplcache.vim"]
	path = bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "bundle/LaTeX-Box"]
	path = bundle/LaTeX-Box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
