[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim
[submodule "bundle/syntastic2"]
	path = bundle/syntastic2
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/vim-addon-linux-coding-style"]
	path = bundle/vim-addon-linux-coding-style
	url = https://github.com/Boerde/vim-addon-linux-coding-style
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "bundle/file-line"]
	path = bundle/file-line
	url = https://github.com/bogado/file-line
[submodule "bundle/asyncrun.vim"]
	path = bundle/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "bundle/vim-lastplace"]
	path = bundle/vim-lastplace
	url = https://github.com/dietsche/vim-lastplace
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
